<% include ../partials/header %>
  <div class='container'>
    <h1>Please log in to continue.</h1>
    <div class='row'>
    <form action='/auth/login' method='post'>
      <div class='col m6'>
        <label>Username:</label>
        <input type='text' name='username' />
      </div>
      <div class='col m6'>
        <label>Password:</label>
        <input type='password' name='password' />
      </div>
      <div>
        <input class='btn red darken-4' type='submit' value='Log In'>
        <a href='/auth/register' class='btn red darken-4'>Don't have an account? Register!</a>
      </div>
    </form>
    </div>
  </div>
<% include ../partials/footer %>