<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Lora|Poppins" rel="stylesheet" />
    <script
      src="http://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/d41e1f89a6.js"></script>
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <script src="/javascripts/materialize.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class='<%= title %>'>
  <% include ./nav.ejs %>