<nav class='<%= navClass %> z-depth-1'>
  <div class='nav-wrapper'>
    <div class='container'>
      <a href='/' class='brand-logo'><i class='fa fa-ticket fa-1x fa-fw'></i></a>
      <a href='#' data-activates='mobile-view' class='button-collapse'><i class='fa fa-bars fa-1x fa-fw'></i></a>
      <ul class='right hide-on-med-and-down'>
        <li><a href='/movies'>Movies</a></li>
        <li><a href='/directors'>Directors</a></li>
        <li><a href='/user'>Log In</a></li>
      </ul>
      <ul class='side-nav' id='mobile-view'>
        <li><a href='/movies'>Movies</a></li>
        <li><a href='/directors'>Directors</a></li>
        <li><a href='/user'>Log In</a></li>
      </ul>
    </div>
  </div>
</nav>