<% include ./partials/header %>
    <div class='container hero'>
      <div class='row'>
        <div class='col m12 flow-text'>
          <h4 class='subt'>A cinematic experience.</h4>
          <h1>The Movies</h1>
          <a class='waves-effect waves-light btn-large red darken-4' href='/auth/register'>Register Now!</a>
          <a class='wave-effect waves-light btn-large red darken-4' href='/auth/login'>Sign In</a>
        </div>
      </div>
    </div>

<% include ./partials/footer %>
