<% include ../partials/header.ejs %>
  <h1>Edit Director Name</h1><br/>
  <form action="<%= '/directors/' + director.id +'?_method=PUT' %>" method="POST">

    <label>Full Name:
  <input type="text" name="fullName" value= "<%=director.name %>" />
</label>
<input type="submit" value="Save">
</form> <br/>

<a href="/directors">Back to Directors Home Page</a><br/>
<a href="/directors/<%=director.id %>">Back to Director</a><br/>


<% include ../partials/footer.ejs %>