<% include ../partials/header.ejs %>
    <h1>Directors List</h1>
    <a href="/directors/new">Add New Director</a><br/>

    <% directors.forEach(function(director) { %>
      <div>
        <a href= '<%= `/directors/${director.id}` %>'><span><%= director.name %></span></a>
      </div>
    <% }) %>
<% include ../partials/footer.ejs %>
