<% include ../partials/header.ejs %>
  <h1>Add New Director </h1><br/>
  <form action='/directors' method="POST">


    <label>Enter Director's Full Name:
  <input type="text" name="fullName"/>
</label>
<input type="submit" value="Add Director">
</form><br/>

<a href="/directors">Back to Directors Page</a><br/>

<% include ../partials/footer.ejs %>
