<% include ../partials/header.ejs %>
  <div class='container'>
    <div class='row'>
      <h1>Add a movie!</h1>
      <form action="/movies" method="POST">
      <div class='col m6'>
        <label>
          Title:
          <input type="text" name="title" />
        </label>
      </div>
      <div class='col m6'>
        <label>
          Synopsis:
          <input type="text" name="synopsis" />
        </label>
      </div>
      <input class='btn red darken-4' type="submit" value = "Add Movie" />
      </form>
    </div>
  </div>
<% include ../partials/footer.ejs %>
