<!DOCTYPE html>
<html>
  <head>
    <title>Fazbook-Add Movie</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add a movie!</h1>
    <form action="/movies" method="POST">
      <div>
        <label>
          Title:
          <input type="text" name="title" />
        </label>
      </div>
      <div>
        <label>
          Synopsis:
          <input type="text" name="synopsis" />
        </label>
      </div>


      <input type="submit" value = "Add Movie" />



      </form>
  </body>
</html>
