<% include ../partials/header.ejs %>
  <div class='container'>
  <h1>Edit a movie!</h1>
  
  <form action="<%= `/movies/${movie.id}?_method=PUT` %>" method="POST">
    <div class='row'>
      <div class='col m6'>
        <label>
          Title:
          <input type="text" name="title" value="<%= movie.title %>" />
        </label>
      </div>
      <div class='col m6'>
        <label>
          Synopsis:
          <input type="text" name="synopsis" value="<%= movie.synopsis %>" />
        </label>
      </div>
    </div>
    
    <a class='btn red darken-4' href="<%= '/movies/' + movie.id %>">Cancel</a>
    <input class='btn red darken-4' type="submit" value="Save" />

    </form>
    
  </div>
<% include ../partials/footer.ejs %>