<% include ../partials/header.ejs %>

<div class='container white'>
  <div class='row'>
    <h1>Movie List</h1>
    <ul class='movies'>
      <% movies.forEach(function(index) { %>
        <li class='card'>
          <a href="<%= '/movies/' + index.id %>">
            <%= index.title %>
          </a>
        </li>
      <% }) %>
    </ul>
  </div>
</div>

<button type="submit"><a href="/movies/add">Add Movie</a></button>

<% include ../partials/footer.ejs %>
