<% include ../partials/header.ejs %>
    <h1>Movie List</h1>
    <% movies.forEach(function(index) { %>
      <div>
        <a href="<%= '/movies/' + index.id %>">
          <%= index.title %>
        </a>
      </div>
    <% }) %>


      <button type="submit"><a href="/movies/add">Add Movie</a></button>

<% include ../partials/footer.ejs %>
