<% include ../partials/header.ejs %>

<div class='container white'>
  <div class='row'>
    <div class='col m8'>
      <h1>Movie List</h1>
    </div>
    <div class='col m4 addbutton'>
      <a class='btn-large red darken-4' href="/movies/add">Add Movie</a>
    </div>
    </div>
    <div class='row'>
    <ul class='movies'> 
      <% movies.forEach(function(movie) { %>
        <li class='card'>
          <div class='card-content'>
            <a href="<%= '/movies/' + movie.id %>">
              <%= movie.title %>
            </a>
            <% if (user !== undefined) { %>
              <div class='card-action'>
                <form action="<%= `/movies/${movie.id}/${user.id}` %>" method="POST">
                  <button type='submit' class='actioner btn grey darken-4' data-movieid='<%= movie.id %>'><i class='fa fa-heart fa-2x'></i></button>
                </form>
              </div>
            <% } %>
          </div>
        </li>
      <% }) %>
    </ul>
  </div>
</div>

<% include ../partials/footer.ejs %>
